In [2]:
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('Resources/model_car_prices.csv')

In [4]:
df.head()

,odometer,mmr,year,make,body,color,interior,sellingprice,automatic
0,-0.978981,0.742349,2015,18,6,17,1,21500.0,True
1,-1.117920,0.774673,2015,18,6,17,0,21500.0,True
2,-1.272506,1.970637,2014,2,7,8,1,30000.0,True
3,-1.024175,1.496561,2015,40,7,17,1,27750.0,True
4,-1.247387,5.644724,2014,2,7,8,1,67000.0,True

In [5]:
# Get the features (everything except the "price" column)
X = df.copy().drop(columns=["sellingprice", 'automatic'])
X.head()

   odometer       mmr  year  make  body  color  interior
0 -0.978981  0.742349  2015    18     6     17         1
1 -1.117920  0.774673  2015    18     6     17         0
2 -1.272506  1.970637  2014     2     7      8         1
3 -1.024175  1.496561  2015    40     7     17         1
4 -1.247387  5.644724  2014     2     7      8         1

In [6]:
# Get the target column
y = df["sellingprice"].values.reshape(-1,1)
y[0:5]

array([[21500.],
       [21500.],
       [30000.],
       [27750.],
       [67000.]])

In [7]:
# Create a function to calculate VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [8]:
# Calculate vif for the dataframe

calc_vif(X).sort_values("VIF")

  variables        VIF
0  odometer   1.599499
1       mmr   1.642279
6  interior   2.080233
3      make   2.991421
5     color   3.040931
4      body   9.937145
2      year  14.371688

In [ ]:
# ???????????????????????